# One Hashtag = Bigger header

## Headers


* To run a cell, press `shift+enter`.
* There are other ways to run cells too :) We can use `Cell->Run`
* To convert from 'green mode' to 'blue mode', we can tap `esc`
* To go from 'blue mode' to 'green mode', we can tap `return` or `enter` to start editing the contents of the cell
* To add new cells, we can use `Insert->Cell Above/Below`. Or, in blue mode, we can tap `a` or `b` to add a new cell above or below where we are.
* There are two cell types: code and markdown. We can convert using the drop-down box, or, while in blue mode, tapping `m` or `y` to convert to markdown and code respectively.

In [2]:
print('hello world')

hello world

## Variable Types and Inbuilt Functions

In [3]:
type('hello world')

str

In [4]:
type('6')

str

In [5]:
type(4)

int

In [6]:
type(4.4)

float

Initialize a list using square brackets like so:

```Python
my_list = ['some', 'stuff', 'separated', 'by', 'commas']
```

In [7]:
my_list = ['hello', 'world', 6, ['sublist']]

In [8]:
type(my_list)

list

In [10]:
variables_are_fun = 6

In [11]:
variables_are_fun

6

In [12]:
my_list[0]

'hello'

In [13]:
len(my_list)

4

In [16]:
my_list

['hello', 'world', 6, ['sublist']]

In [14]:
my_list[4]

IndexError: list index out of range

In [15]:
my_list[3]

['sublist']

In [17]:
my_list[-1]

['sublist']

In [21]:
my_list[1:]

['world', 6, ['sublist']]

In [20]:
my_list[1:2]

['world']

In [18]:
my_list[:2]

['hello', 'world']

In [19]:
my_list[2]

6

In [23]:
'hello world'[1:5]

'ello'

In [24]:
'hello world'[:-1]

'hello worl'

In [25]:
'hello world'[-1]

'd'

In [27]:
'hello world'[-5:]

'world'

In [28]:
'hello world'[::-1]

'dlrow olleh'

`[number]`: one index

`[number1:number2]`: from number1 to number2

`[::-1]`: reversed. we can think of this as "by" -- "by reversed"

In [30]:
'hello world'[::2]

'hlowrd'

In [31]:
'hello world'[::-2]

'drwolh'

In [34]:
'hello world'[2:]

'llo world'

## Booleans, if-else, and hopefully for-loops?

In [35]:
True

True

In [36]:
False

False

In Python, we assign to a variable with a single equals sign and test for equality with two equals signs:

In [37]:
my_var = 5

In [38]:
my_var == 4

False

In [39]:
my_var == 5

True

In [40]:
True == 1

True

In [41]:
False == 0

True

In [42]:
sum([True, True, False])

2

In [46]:
'hello ' * 3

'hello hello hello '

In [47]:
3 * 3

9

In [43]:
'3' * 3

'333'

Casting:

In [48]:
int('3')

3

In [49]:
str(3)

'3'

In [45]:
'hello'[:2]

'he'

Double equal signs is like a question mark -- "is this true?"

In [50]:
5 == 5

True

In [52]:
len(my_list) == 4

True

In [56]:
my_var = 1

In [57]:
if my_var > 5:
    print('big number!')
else:
    print('small number!')

small number!

In [59]:
my_var = -5

In [60]:
if my_var > 5:
    print('big number!')
elif my_var > 0:
    print('small, but at least it is positive!')
else:
    print('negative number!')

negative number!

In [ ]:
"it's"
'its's''

'he said "hello world"'
"he said "hello world""

In [62]:
10 % 3

1

In [63]:
# is my number even?
my_var = 10

if my_var % 2 == 0:
    print('even!')
else:
    print('odd!')

even!

In [65]:
# is my number divisible by three?
my_var = 32

if my_var % 3 == 0:
    print('divisible by 3!')
elif my_var % 2 == 0:
    print('even!')
else:
    print('boo')

even!